@import "../../variables";
@import "../../shared-styles";

.balance-sheet {
  height: 146px;
  border: 1px solid var(--unnamed-color-2f67d8);
  background: #2f67d81a 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #2f67d8;
  border-radius: 10px;
  padding: 20px;
  button {
    @include main-btn;
    margin-top: 40px;
  }
  h1 {
    font-family: rebondG-Bold;
  }
}
.activity-div {
  height: 106px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #e7e7e7;
  border-radius: 11px;
  padding: 0px 20px;
  margin-top: 20px;
  small {
    font-size: 12px;
    color: #191919;
    opacity: 0.5;
  }
  p {
    font-size: 14px;
    color: #191919;
    opacity: 0.5;
    line-height: 20px;
  }
  h6 {
    // margin: 0 !important;
  }
  img {
    height: 49px;
    width: 50px;
    margin-top: 20px;
  }
}
.divss {
  height: 50px;
  background: #000;
  color: #fff;
  font-size: 20px !important;
  border-radius: 10px;
  text-align: center;
  margin-top: 40px;
}
.your-div {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.your-div.slide-in {
  opacity: 1;
  transform: translateY(0);
}

/* Add a delay for each div */
.your-div:nth-child(1) {
  transition-delay: 0.5s;
}

.your-div:nth-child(2) {
  transition-delay: 1s;
}

.your-div:nth-child(3) {
  transition-delay: 1.5s;
}
.your-div:nth-child(4) {
  transition-delay: 2s;
}

/* Add more rules for additional divs */
#slideset2 {
  height: 10em;
  position: relative;
  overflow: hidden;
}
#slideset2 > * {
  position: absolute;
  top: 100%;
  left: 0;
  animation: 12s autoplay2 infinite ease-in-out;
}
@keyframes autoplay2 {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}
#slideset2 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset2 > *:nth-child(2) {
  animation-delay: 4s;
}
#slideset2 > *:nth-child(3) {
  animation-delay: 8s;
}
