.badge {
  border-radius: 100px;
  padding: 6px 13px !important;
  font-family: rebondG-Semi-Bold;
  font-size: 14px;
  border: none;
  background: #5eaa421a;
}

.badge::before {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: red;
  content: "";
}
.correct {
  color: #5eaa42 !important;
  border: solid 1px #5eaa42;
}
.incorrect {
  color: #d52143 !important;
  border: solid 1px #d52143;
}

.unanswered {
  color: #4a13b2 !important;
  border: solid 1px #4a13b2;
}

.level {
  color: #2f67d8 !important;
  border: solid 1px #2f67d8;
  background: #eaf0fb;
}

.num {
  color: #fff !important;
  border: solid 1px #000;
  background: #5eaa42;
}

.zero {
  color: #fff !important;
  border: solid 1px #000;
  background: #d64042;
}
