.nav-container {
  padding: 5px 60px;
  box-shadow: 0px 3px 6px #00000029;
  background: #fff;
  display: flex;
  @media screen and (max-width: 620px) {
    padding: 15px 5px;
  }
  .logo-holder {
    flex-grow: 1;
    img {
      width: 50%;
      @media screen and (max-width: 620px) {
        width: 100%;
        margin-right: 10px !important;
      }
    }
  }
  .navs {
    flex-grow: 1;

    .navlinks {
      button {
        margin: 0 10px;
        padding: 5px 13px;
        border: none;
        color: #000;
        margin-top: 10px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 100px;
        background: #fff;
        font-family: rebondG-Medium;
        @media screen and (max-width: 620px) {
          margin: 0 0px;
          padding: 2px 3px;
        }
      }
    }
  }
}
.active {
  button {
    color: #2f67d8 !important;
    background: #c7d8fa !important;
  }
}
.hide {
  display: none;
}
.menu-holder {
  width: 92px;
  height: 35px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-cecbcb);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecbcb;
  border-radius: 100px;
  padding-left: 18px;
  padding-top: 3px;
  margin-left: 0px;
  margin-top: 7px;
  @media screen and (max-width: 620px) {
    width: 70px;
    margin-top: 0px;
  }
  .menu-icon {
    width: 12px;
    height: 8px;
    margin-right: 5px;
  }
  .person {
    height: 23px;
    width: 23px;
  }
}
