.nav-container {
  padding: 5px 60px;
  box-shadow: 0px 3px 6px #00000029;
  background: #fff;
  @media screen and (max-width: 620px) {
    padding: 5px 5px;
  }
  .logo-holder {
    // flex-grow: 1;
  }
  .navs {
    flex-grow: 1;
    .navlinks {
      button {
        margin: 0 10px;
        padding: 5px 13px;
        border: none;
        color: #000;
        margin-top: 10px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 100px;
        background: #fff;
        font-family: rebondG-Medium;
      }
    }
  }
}
.active {
  button {
    color: #2f67d8 !important;
    background: #c7d8fa !important;
  }
}
