.nav-container {
  padding: 5px 60px;
  box-shadow: 0px 3px 6px #00000029;
  background: #fff;
  .logo-holder {
    flex-grow: 1;
  }
  .navs {
    flex-grow: 1;
    .navlinks {
      margin: 0 10px;
    }
  }
}
