@font-face {
  font-family: rebondG;
  src: url(./assets/fonts/Rebond_font/RebondG.otf);
}
@font-face {
  font-family: rebondG-Bold;
  src: url(./assets/fonts/Rebond_font/RebondG-Bold.otf);
}
@font-face {
  font-family: rebondG-Semi-Bold;
  src: url(./assets/fonts/Rebond_font/Rebond-semibold.otf);
}
@font-face {
  font-family: rebondG-Medium;
  src: url(./assets/fonts/Rebond_font/RebondGrotesqueMedium.otf);
}
@font-face {
  font-family: rebondBook;
  src: url(./assets/fonts/Rebond_font/RebondG-Book.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rebondG-Semi-Bold;
}

p {
  font-family: rebondBook;
  font-size: 16px;
}
small {
  font-family: rebondBook;
}
button {
  font-family: rebondG-Semi-Bold;
}
@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  .flexyM {
    display: flex;
  }
}
