.home-div {
  padding-top: 60px;
  .unit {
    h3 {
      flex-grow: 1;
    }
    button {
      color: #2f67d8;
      background: #2f67d81a;
      border: solid 1px #2f67d8;
      width: 163px;
      font-size: 14px;
      height: 32px;
      border-radius: 100px;
    }
  }
}
