@import "../../variables";
@import "../../shared-styles";
.landing-div {
  background: url("../../assets/images/brush-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  h1 {
    font-size: 40px;
    font-family: rebondG-Bold;
  }
}
