@import "../../variables";
@import "../../shared-styles";

.test-instructions-div22 {
  padding-top: 80px;
  padding-bottom: 250px;
  background: url("../../assets/images/brush-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 620px) {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
  }
  .student-details {
    border: 1px solid #e7e7e7;
    box-shadow: 0px 3px 6px #0000000d;
    border-radius: 10px;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 30px;
    @media screen and (max-width: 620px) {
      // position: sticky;
      top: 0;
      z-index: 10;
    }
    .timer {
      button {
        color: #d52143;
        font-size: 30px;
        width: 188px;
        // height: 40px;
        border: solid 1px #e7e7e7;
        border-radius: 10px;
        background: #fff;
        @media screen and (max-width: 620px) {
          width: 100px;
          font-size: 18px;
        }
      }
    }
    h6 {
      @media screen and (max-width: 620px) {
        font-size: 14px;
      }
    }
    p {
      @media screen and (max-width: 620px) {
        font-size: 12px;
      }
    }
  }
  .instructions {
    border: 1px solid #e7e7e7;
    box-shadow: 0px 3px 6px #0000000d;
    border-radius: 10px;
    height: 444px;
    background: #fff;
    padding: 30px 20px;
    @media screen and (max-width: 620px) {
      height: fit-content;
      padding-top: 70px;
      padding-bottom: 120px;
    }
  }
  .instructions4 {
    border: 1px solid #e7e7e7;
    box-shadow: 0px 3px 6px #0000000d;
    border-radius: 10px;
    height: 344px;
    background: #fff;
    padding: 30px 20px;
    @media screen and (max-width: 620px) {
      // height: fit-content;
      // margin-top: 30px;
      border: none;
      box-shadow: none;
      height: 0;
    }
  }
}

.previous-btn {
  border-radius: 100px;
  width: 130px !important;
  height: 36px;
  font-size: 14px;
  border: solid 1px #cecbcb;
  background: #cecbcb !important;
  font-family: rebondG-Semi-Bold;
  color: #191919;
  margin-right: 380px;
  @media screen and (max-width: 620px) {
    margin-right: 10px;
  }
}
.next-btn {
  width: 91px;
  height: 36px;
  font-size: 14px;
  background: #2f67d8;
  color: #fff;
  font-family: rebondG-Semi-Bold;
  border: solid 1px #414244;
  border-radius: 100px;
}
.review-btn {
  padding: 5px 10px;
  background: #2f67d8;
  color: #fff;
  border: 1px solid #414244;
  border-radius: 100px;
  font-size: 14px;
  font-family: rebondG-Semi-Bold;
  margin-left: 5px;
}
.reset-btn {
  padding: 5px 10px;
  background: #fff;
  color: #2f67d8;
  border: 1px solid #2f67d8;
  border-radius: 100px;
  font-size: 14px;
  font-family: rebondG-Semi-Bold;
}
.pre-next-btns {
  margin-top: 90px;
  @media screen and (max-width: 620px) {
    // margin-top: 50px;
  }
}
.offcanvas-body {
  height: 50% !important;
  // margin-top: -100px !important;
}
.offcanvas-btn {
  border: solid 1px #5eaa42;
  color: #5eaa42;
  border-radius: 100px;
  background: #fff;
  width: 130px;
  height: 36px;
  font-family: rebondG-Semi-Bold;
  font-size: 14px;
  margin-right: 10px;
}
