.test-analysis-div {
  .search-bar {
    h5 {
      flex-grow: 1;
    }
    input {
      border: solid 1px #cecbcb;
      border-radius: 10px;
      background: #ffffff;
      height: 37px;
      padding-left: 20px;
    }
  }
}
