.test-analysis-div {
  .search-bar {
    h5 {
      flex-grow: 1;
    }
    input {
      border: solid 1px #cecbcb;
      border-radius: 10px;
      background: #ffffff;
      height: 37px;
      padding-left: 20px;
      font-family: rebondG-Medium;
    }
    ::placeholder {
      color: #191919 !important;
      text-align: left;
      opacity: 0.3;
      font-size: 14px !important;
      font-family: rebondG-Medium;
    }
  }
}
.analysis-table {
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #70707040;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
}
.search-input {
  img {
    margin-top: -30px;
  }
}
