@import "../../variables";
@import "../../shared-styles";

.business-pricing-tab {
  .tabs {
    display: flex;
    border-radius: 35px;
    border: solid 2px #cef0ff;
    width: 100%;
    padding: 8px 3px;
    font-family: rebondG-Medium;
    @media screen and (max-width: 620px) {
      width: 40%;
      margin-left: 0%;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs {
      button {
        margin-left: 10px;
      }
    }
  }

  .tab {
    width: 100%;
    background: transparent;
    padding: 5px 0;
    border: none;
    color: grey;
    // border-radius: 35px !important;
    font-size: 16px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  button.active2 {
    font-weight: bold;
    border-bottom: solid 6px #2f67d8;
    color: #191919;
    border-radius: 35px;
    font-family: rebondG-Semi-Bold;
  }

  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 65px;
    background: #fff;
  }
  @media screen and (max-width: 620px) {
    .panel {
      padding: 0px;
    }
  }
  .panel.active2 {
    display: block;
  }
}
