@import "../../variables";
@import "../../shared-styles";

.analysis-tab {
  margin-top: 30px;
  .tabs {
    width: 100%;
    display: flex;
    font-family: rebondG-Medium;
    border-bottom: solid 1px #e7e7e7;
    @media screen and (max-width: 620px) {
      //   width: 40%;
      margin-left: 0%;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs {
      button {
        margin-left: 10px;
      }
    }
  }

  .tab {
    width: 17%;
    background: transparent;
    padding: 5px 0;
    border: none;
    color: grey;
    // border-radius: 35px !important;
    font-size: 18px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  button.active2 {
    font-weight: bold;
    border-bottom: solid 6px #2f67d8;
    color: #191919;
    font-family: rebondG-Semi-Bold;
    font-size: 20px;
  }

  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 65px;
    background: #fff;
  }
  @media screen and (max-width: 620px) {
    .panel {
      padding: 0px;
    }
  }
  .panel.active2 {
    display: block;
  }
}
.profile-div {
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #e7e7e7;
  border-radius: 11px;
  padding: 20px;
  background: #fff;
  background: #fff;
  h6 {
    margin-top: 10px;
    margin-right: 5px;
  }
}

.chart-div {
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #e7e7e7;
  border-radius: 11px;
  height: 400px;
  padding: 20px;
}

.chart-div {
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 3px 6px #0000000d;
  border: 1px solid #e7e7e7;
  border-radius: 11px;
  height: 400px;
  padding: 20px;
}
