.test-instructions-div {
  padding-top: 80px;
  padding-bottom: 250px;
  background: url("../../assets/images/brush-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  .student-details {
    border: 1px solid #e7e7e7;
    box-shadow: 0px 3px 6px #0000000d;
    border-radius: 10px;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  .review-board {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000d;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    opacity: 1;
    height: fit-content;
    padding: 30px;
  }
}
