.test-instructions-div {
  padding-top: 80px;
  padding-bottom: 550px;
  background: url("../../assets/images/brush-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
