.nav-container {
  padding: 5px 60px;
  box-shadow: 0px 3px 6px #00000029;
  background: #fff;
  display: flex;
  @media screen and (max-width: 620px) {
    padding: 15px 5px;
  }
  .logo-holder {
    flex-grow: 1;

    @media screen and (max-width: 620px) {
      margin-right: 10px;
    }
    img {
      width: 50%;
      @media screen and (max-width: 620px) {
        width: 50%;
      }
    }
  }
  .navs {
    flex-grow: 1;

    .navlinks {
      button {
        margin: 0 10px;
        padding: 5px 13px;
        border: none;
        color: #000;
        margin-top: 10px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 100px;
        background: #fff;
        font-family: rebondG-Medium;
        @media screen and (max-width: 620px) {
          margin: 0 0px;
          margin-left: -10px;
        }
      }
    }
  }
}
.active {
  button {
    color: #2f67d8 !important;
    background: #c7d8fa !important;
  }
}
.hide {
  display: none;
}
.menu-holder {
  width: 72px;
  height: 35px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-cecbcb);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecbcb;
  border-radius: 100px;
  // padding-left: 18px;
  padding-top: 3px;
  margin-left: 0px;

  @media screen and (max-width: 620px) {
    width: 70px;
    margin-top: 0px;
  }
  .menu-icon {
    width: 12px;
    height: 8px;
    margin-right: 5px;
  }
  .person {
    height: 23px;
    width: 23px;
  }
}

// .btn-check:checked + .btn,
// .btn.active,
// .btn.show,
// .btn:first-child:active,
// :not(.btn-check) + .btn:active {
//   background: #fff !important;
//   height: 35px !important;
//   width: 92px !important;
// }

.notification-body {
  width: 320px;
  height: 271px;
  white-space: normal !important;
  @media screen and (max-width: 620px) {
    width: 200px;
  }
  h6 {
    flex-grow: 1;
  }
  small {
    opacity: 0.5;
  }
}
.last-menu {
  .btn {
    background: #fff !important;
    height: 35px !important;
    border-color: #fff !important;
    // width: 92px !important;
    top: 20px !important;
    padding: 0 !important;
  }
}
