@import "../../variables";
@import "../../shared-styles";

.test-instructions-div {
  padding-top: 80px;
  padding-bottom: 250px;
  background: url("../../assets/images/brush-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  .test-body {
    height: 394px;
    box-shadow: 0px 3px 6px #0000000d;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    h3 {
      color: #191919;
      font-family: rebondG-Bold;
    }

    .attempts-btn {
      border-bottom: solid 1px #e7e7e7;
    }
  }
  .return-btn {
    padding: 5px 10px;
    background: #2f67d8;
    border: solid 1px #414244;
    border-radius: 100px;
    font-family: rebondG-Semi-Bold;
    color: #fff;
    font-size: 14px;
  }
}
