.badge {
  border-radius: 100px;
  padding: 0px 13px !important;
  font-family: rebondG-Semi-Bold;
  font-size: 14px;
}

::before .badge {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background: red;
  content: "";
}
