@import "../../../variables";
@import "../../../shared-styles";

.analysis-div {
  border: 1px solid #e7e7e7;
  border-radius: 11px;
  height: 89px;
  margin-bottom: 30px;
  padding-top: 15px;

  @media screen and (max-width: 620px) {
    height: fit-content;
    overflow: scroll;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  button {
    @include main-btn;
  }

  tr td {
    border: none;
    padding: 0 !important;
    text-align: left;
    // overflow: scroll;
    small {
      font-size: 14px;
    }
  }
}
